.home{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.img-container{
    height: 100%;
    width: 40%;
}

img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.search-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

input {
    background-color: var(--bg-darker);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
}

input:hover {
    outline: var(--darker) auto 1px;
}

input:focus-visible {
    outline: var(--darker) auto 1px;
}

.btn-container{
    display: flex;
    gap: 20px;
}

button {
    border: none;
    height: 40px;
    width: 50%;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 1.2rem;
}

button.primary:hover{
    background-color: var(--darker);
}

button.accent:hover{
    background-color: var(--a-darker);
}
