@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  --bg: #f8f8f8;
  --bg-darker: #eeeded;
  --color:#343434;
  --primary:#ff7474;
  --darker: #e26464;
  --accent: #a4a4a4;
  --a-darker: #959595;
  --border: 5px;


  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color:var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 2.4rem;
  font-weight: 700;
}

h2{
  font-size: 2.2rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.4rem;
}

.primary{
  background:var(--primary) ;
  color: white ;
}

.accent{
  background:var(--accent) ;
  color: white ;
}

.darker{
  background:var(--darker) ;
  color: white ;
}
